/* ===================================
gerais
=================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url(avaliação/imagens/fundo.png);
}
p {
    margin: 4px;
}

/* ===================================
header
=================================== */

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dclink {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img {
    width: 180px;
    align-self: flex-start;
    position: fixed;
    padding: 15px;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* ===================================
seção main
=================================== */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    background-color: #ab226d;
    width: 80vw;
    max-width: 500px;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.475);
    position: absolute;
    top: 100px;
}
.container-title {
    font-size: 1.4rem;
    margin: 10px;
}
.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* ===================================
botão zerar
=================================== */

.btnzera{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}
.zera {
    background-image: url(avaliação/imagens/refresh.png);
    width: 30px;
    border-radius: 50%;
    padding: 3px 8px;
    border-style: none;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.475);
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: 100%;
}
.zera:hover {
    scale: 1.5;
}
/* ===================================
resultados
=================================== */

.result {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px 30px;
    text-align: justify;
}

/* ===================================
números
=================================== */

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inum {
    width: 100px;
    border-radius: 10px;
    padding: 0 8px;
}

/* ===================================
fundo colorido dos números
=================================== */

.num0 {
    background-color: red;
    border-radius: 10px;
    padding-left: 8px;
}
.num0:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

.num1 {
    background-color: rgb(255, 94, 0);
    border-radius: 10px;
    padding-left: 8px;
}
.num1:hover {
    background-color: rgb(255, 94, 0, 0.6);
}

.num2 {
    background-color: rgb(255, 153, 0);
    border-radius: 10px;
    padding-left: 8px;
}
.num2:hover {
    background-color: rgb(255, 153, 0, 0.6);
}

.num3 {
    background-color: rgb(255, 221, 0);
    border-radius: 10px;
    padding-left: 8px;
}
.num3:hover {
    background-color: rgb(255, 221, 0, 0.6);
}

.num4 {
    background-color: rgb(255, 255, 0);
    border-radius: 10px;
    padding-left: 8px;
}
.num4:hover {
    background-color: rgb(255, 255, 0, 0.6);
}

.num5 {
    background-color: rgb(179, 255, 0);
    border-radius: 10px;
    padding-left: 8px;
}
.num5:hover {
    background-color: rgb(179, 255, 0, 0.6);
}

.num6 {
    background-color: rgb(179, 255, 0);
    border-radius: 10px;
    padding-left: 8px;
}
.num6:hover {
    background-color: rgb(179, 255, 0, 0.6);
}

.num7 {
    background-color: rgb(128, 255, 0);
    border-radius: 10px;
    padding-left: 8px;
}
.num7:hover {
    background-color: rgb(128, 255, 0, 0.6);
}

.num8 {
    background-color: rgb(115, 255, 0);
    border-radius: 10px;
    padding-left: 8px;
}
.num8:hover {
    background-color: rgb(115, 255, 0, 0.6);
}

.num9 {
    background-color: rgb(30, 255, 0);
    border-radius: 10px;
    padding-left: 8px;
}
.num9:hover {
    background-color: rgb(30, 255, 0, 0.6);
}

.num10 {
    background-color: rgb(21, 248, 0);
    border-radius: 10px;
    padding-left: 8px;
}
.num10:hover {
    background-color: rgb(21, 248, 0, 0.6);
}
