* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 250px;
    align-self: flex-start;
    position: fixed;
    padding: 20px;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/fundo.png);
    position: initial;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    background-color: #ab226d;
    width: 80vw;
    height: 50vh;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 5px black;
}

.container-title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.title {
    margin: 30px;
}
.satisfaction {
    display: flex;
    gap: 10px;
    margin: 35px 0 25px 0;
}

.num {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num:hover {
    cursor: pointer;
    background-color: rgba(246, 244, 244, 0.093) ;
}

#num0 {
    background-color: red;
}
#num0:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

#num1 {
    background-color: rgb(255, 94, 0);
}

#num1:hover {
    background-color: rgb(255, 94, 0, 0.6);
}

#num2 {
    background-color: rgb(255, 153, 0);
}
#num2:hover {
    background-color: rgb(255, 153, 0, 0.6);
}

#num3 {
    background-color: rgb(255, 221, 0);
}
#num3:hover {
    background-color: rgb(255, 221, 0, 0.6);
}

#num4 {
    background-color: rgb(255, 255, 0);
}
#num4:hover {
    background-color: rgb(255, 255, 0, 0.6);
}

#num5 {
    background-color: rgb(179, 255, 0);
}
#num5:hover {
    background-color: rgb(179, 255, 0, 0.6);
}

#num6 {
    background-color: rgb(179, 255, 0);
}
#num6:hover {
    background-color: rgb(179, 255, 0, 0.6);
}

#num7 {
    background-color: rgb(128, 255, 0);
}
#num7:hover {
    background-color: rgb(128, 255, 0, 0.6);
}

#num8 {
    background-color: rgb(115, 255, 0);
}
#num8:hover {
    background-color: rgb(115, 255, 0, 0.6);
}

#num9 {
    background-color: rgb(30, 255, 0);
}
#num9:hover {
    background-color: rgb(30, 255, 0, 0.6);
}

#num10 {
    background-color: rgb(21, 248, 0)
}
#num10:hover {
    background-color: rgb(21, 248, 0, 0.6)
}

.question {
    color: white;
}

.input {
    margin-top: 15px;
    width: 500px;
    border: 0;
    color: white;
    border-bottom: 2px solid rgb(45 39 39);
    background-color: #971d60;
    font-size: 15px;
    border-radius: 5px;
}

@media (max-width: 650px) {
    .container {
        /* background-color: green; */
        font-size: 1.2rem;
        width: 90vw;
    }
    .satisfaction {
        gap: 2px;
        margin: 10px 0px 10px 0px;
    }
    .num {
        width: 22px;
        height: 22px;        
        border-radius: 5px;
        font-size: 15px;
    }
    .text {
        font-size: 10px;
    }
    .quest {
        text-align: center;
    }
    .input {
        width: -webkit-fill-available;
        border: 0;
        border-bottom: 2px solid rgb(45 39 39);
        background-color: #971d60;
        border-radius: 5px;
    }
}